﻿@page
@model BackendLab01.Quizes
@{
    ViewData["Title"] = "Quiz";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Quizes</h1>
<ul class="flex-grow-1">
    @foreach (var item in Model.Answers)
    {
        <li class="nav-item">
            <a class="text-dark" asp-page="/Quiz/Item" asp-route-itemId="1" asp-route-quizId="@item.Id">Quiz @item.Title</a>
        </li>
    }
</ul>